@font-face{
  font-family: "vazir";
  src: url("./font/Vazirmatn-Black.ttf");
}

.u-body{
  font-family: vazir;
}



.u-block-de6d-2 {
  position: absolute;
  bottom: 10px;
}

.u-block-de6d-3 {
  position: absolute;
  left: 0;
}

.u-block-de6d-4 {
  position: absolute;
  right: 0;
}

 .u-section-1-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url('images/01.jpg');
  background-position: 50% 50%;
}

.u-section-1-1 .u-sheet-1 {
  min-height: 765px;
}

.u-section-1-1 .u-list-1 {
  width: 749px;
  margin: 48px auto 60px;
}

.u-section-1-1 .u-repeater-1 {
  grid-auto-columns: calc(50% - 3.5px);
  grid-template-columns: repeat(2, calc(50% - 3.5px));
  min-height: 182px;
  grid-gap: 7px;
}

.u-section-1-1 .u-list-item-1 {
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-1-1 .u-container-layout-1 {
  padding: 9px 10px 10px;
}

.u-section-1-1 .u-text-1 {
  font-size: 2rem;
  font-weight: 500;
  margin: 0;
  font-family: vazir;
}

.u-section-1-1 .u-text-2 {
  letter-spacing: 1px;
  font-size: 1.5rem;
  font-weight: 500;
  transition-duration: 0.5s;
  margin: 20px 0 0;
}

.u-section-1-1 .u-text-3 {
  letter-spacing: 1px;
  font-size: 1.5rem;
  font-weight: 500;
  transition-duration: 0.5s;
  margin: 13px 0 0;
}

.u-section-1-1 .u-list-item-2 {
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-1-1 .u-container-layout-2 {
  padding: 9px 10px 10px;
}

.u-section-1-1 .u-text-4 {
  font-size: 2rem;
  font-weight: 500;
  margin: 0;
  font-family: vazir;
}

.u-section-1-1 .u-text-5 {
  letter-spacing: 1px;
  font-size: 1.5rem;
  font-weight: 500;
  transition-duration: 0.5s;
  margin: 20px 0 0;
}

.u-section-1-1 .u-text-6 {
  letter-spacing: 1px;
  font-size: 1.5rem;
  font-weight: 500;
  transition-duration: 0.5s;
  margin: 13px 0 0;
}

@media (max-width: 1199px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 631px;
  }
}

@media (max-width: 991px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 483px;
  }

  .u-section-1-1 .u-list-1 {
    width: 720px;
  }

  .u-section-1-1 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }
}

@media (max-width: 767px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 362px;
  }

  .u-section-1-1 .u-list-1 {
    width: 540px;
  }

  .u-section-1-1 .u-repeater-1 {
    grid-auto-columns: 100%;
  }
}

@media (max-width: 575px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 898px;
  }

  .u-section-1-1 .u-list-1 {
    margin-top: 25px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1-1 .u-repeater-1 {
    min-height: 453px;
  }

  .u-section-1-1 .u-container-layout-1 {
    padding-bottom: 0;
  }

  .u-section-1-1 .u-text-1 {
    font-size: 2.25rem;
    margin-top: 28px;
  }

  .u-section-1-1 .u-container-layout-2 {
    padding-bottom: 0;
  }

  .u-section-1-1 .u-text-4 {
    font-size: 2.25rem;
    margin-top: 28px;
  }
}

.u-block-f074-21:not([data-block-selected]):not([data-cell-selected]),
.u-block-f074-21:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-f074-21:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-container-layout:hover > .u-block-f074-21:not([data-block-selected]):not([data-cell-selected]) {
  transform: translateX(0px) translateY(-5px) !important;
}

.u-container-layout.hover > .u-block-f074-21:not([data-block-selected]):not([data-cell-selected]) {
  transform: translateX(0px) translateY(-5px) !important;
}

.u-block-f074-6:not([data-block-selected]):not([data-cell-selected]),
.u-block-f074-6:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-f074-6:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-container-layout:hover > .u-block-f074-6:not([data-block-selected]):not([data-cell-selected]) {
  transform: translateX(0px) translateY(-5px) !important;
}

.u-container-layout.hover > .u-block-f074-6:not([data-block-selected]):not([data-cell-selected]) {
  transform: translateX(0px) translateY(-5px) !important;
}

.u-section-1-1 .u-text-2,
.u-section-1-1 .u-text-2:before,
.u-section-1-1 .u-text-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1-1 .u-container-layout:hover .u-text-2 {
  transform: translateX(0px) translateY(-5px) !important;
}

.u-container-layout.hover > .u-section-1-1 .u-text-2 {
  transform: translateX(0px) translateY(-5px) !important;
}

.u-section-1-1 .u-text-3,
.u-section-1-1 .u-text-3:before,
.u-section-1-1 .u-text-3 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1-1 .u-container-layout:hover .u-text-3 {
  transform: translateX(0px) translateY(-5px) !important;
}

.u-container-layout.hover > .u-section-1-1 .u-text-3 {
  transform: translateX(0px) translateY(-5px) !important;
}

.u-section-1-1 .u-text-5,
.u-section-1-1 .u-text-5:before,
.u-section-1-1 .u-text-5 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1-1 .u-container-layout:hover .u-text-5 {
  transform: translateX(0px) translateY(-5px) !important;
}

.u-container-layout.hover > .u-section-1-1 .u-text-5 {
  transform: translateX(0px) translateY(-5px) !important;
}

.u-section-1-1 .u-text-6,
.u-section-1-1 .u-text-6:before,
.u-section-1-1 .u-text-6 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1-1 .u-container-layout:hover .u-text-6 {
  transform: translateX(0px) translateY(-5px) !important;
}

.u-container-layout.hover > .u-section-1-1 .u-text-6 {
  transform: translateX(0px) translateY(-5px) !important;
}

.u-block-1a17-42:not([data-block-selected]):not([data-cell-selected]),
.u-block-1a17-42:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-1a17-42:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-container-layout:hover > .u-block-1a17-42:not([data-block-selected]):not([data-cell-selected]) {
  transform: translateX(0px) translateY(-5px) !important;
}

.u-container-layout.hover > .u-block-1a17-42:not([data-block-selected]):not([data-cell-selected]) {
  transform: translateX(0px) translateY(-5px) !important;
}

.u-block-1a17-43:not([data-block-selected]):not([data-cell-selected]),
.u-block-1a17-43:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-1a17-43:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-container-layout:hover > .u-block-1a17-43:not([data-block-selected]):not([data-cell-selected]) {
  transform: translateX(0px) translateY(-5px) !important;
}

.u-container-layout.hover > .u-block-1a17-43:not([data-block-selected]):not([data-cell-selected]) {
  transform: translateX(0px) translateY(-5px) !important;
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 173px;
}

.u-section-2 .u-text-1 {
  width: 486px;
  font-family: Vazirmatn;
  font-size: 1.875rem;
  font-weight: 700;
  background-image: none;
  margin: 67px auto 60px;
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    width: 340px;
  }
} .u-section-3 {
  background-image: linear-gradient(180deg, white, #adcce9);
}

.u-section-3 .u-sheet-1 {
  min-height: 418px;
}

.u-section-3 .u-table-1 {
  margin-bottom: 60px;
  margin-top: 3px;
}

.u-section-3 .u-table-header-1 {
  background-image: none;
}

.u-section-3 .u-table-cell-1 {
  font-weight: 500;
  font-size: 1.25rem;
  
}

.u-section-3 .u-table-cell-2 {
  font-weight: 500;
  font-size: 1.25rem;
}

.u-section-3 .u-table-cell-3 {
  font-weight: 500;
  font-size: 1.25rem;
}

.u-section-3 .u-table-cell-4 {
  font-weight: 500;
  font-size: 1.25rem;
}

.u-section-3 .u-table-cell-5 {
  font-weight: 500;
  font-size: 1.25rem;
}

.u-section-3 .u-table-cell-6 {
  font-weight: 500;
  font-size: 1.25rem;
}

.u-section-3 .u-table-cell-7 {
  font-weight: 500;
  font-size: 1.25rem;
}

.u-section-3 .u-table-cell-8 {
  font-size: 1.2rem;
  font-weight: 500;
  font-family: vazir;
}

.u-section-3 .u-table-cell-9 {
  font-weight: 500;
  font-size: 1.2rem;
  font-family: vazir;
}

.u-section-3 .u-table-cell-10 {
  font-size: 1.2rem;
  font-weight: 500;
  font-family: vazir;
}

.u-section-3 .u-table-cell-11 {
  font-size: 1.2rem;
  font-weight: 500;
  font-family: vazir;
}

.u-section-3 .u-table-cell-12 {
  font-size: 1.2rem;
  font-weight: 500;
  font-family: vazir;
}

.u-section-3 .u-table-cell-13 {
  font-weight: 500;
  font-size: 1.2rem;
  font-family: vazir;
}

.u-section-3 .u-table-cell-14 {
  font-size: 1.1rem;
  font-weight: 500;
  font-family: vazir;
}

.u-section-3 .u-table-cell-15 {
  font-size: 1.2rem;
  font-weight: 500;
  font-family: vazir;
}

.u-section-3 .u-table-cell-16 {
  font-size: 1.2rem;
  font-weight: 500;
  font-family: vazir;
}

.u-section-3 .u-table-cell-17 {
  font-weight: 500;
  font-size: 1.2rem;
  font-family: vazir;
}

.u-section-3 .u-table-cell-18 {
  font-size: 1.2rem;
  font-weight: 500;
  font-family: vazir;
}

.u-section-3 .u-table-cell-19 {
  font-size: 1.2rem;
  font-weight: 500;
  font-family: vazir;
}

.u-section-3 .u-table-cell-20 {
  font-weight: 500;
  font-size: 1.2rem;
  font-family: vazir;
}

.u-section-3 .u-table-cell-21 {
  font-weight: 500;
  font-size: 1.1rem;
  font-family: vazir;
}

.u-section-3 .u-table-cell-22 {
  font-weight: 500;
  font-size: 1.2rem;
  font-family: vazir;
}

.u-section-3 .u-table-cell-23 {
  font-weight: 500;
  font-size: 1.2rem;
  font-family: vazir;
}

.u-section-3 .u-table-cell-24 {
  font-size: 1.2rem;
  font-weight: 500;
  font-family: vazir;
}

.u-section-3 .u-table-cell-25 {
  font-size: 1.2rem;
  font-weight: 500;
  font-family: vazir;
}
.u-section-3 .u-table-cell-26 {
  font-size: 1.2rem;
  font-weight: 500;
  font-family: vazir;
}

.u-section-3 .u-table-cell-27 {
  font-weight: 500;
  font-size: 1.2rem;
  font-family: vazir;
}

.u-section-3 .u-table-cell-28 {
  font-size: 1.1rem;
  font-family: vazir;
  font-weight: 500;

}

.u-block-2eba-38 {
  height: 46px;
}

.u-block-2eba-76 {
  font-weight: 700;
  font-size: 1.25rem;
}

.u-block-2eba-93 {
  font-weight: 700;
  font-size: 1.25rem;
} .u-section-4 {
  background-image: linear-gradient(#adcce9, white);
}

.u-section-4 .u-sheet-1 {
  min-height: 1074px;
}

.u-section-4 .u-list-1 {
  grid-template-rows: auto auto;
  margin-top: 0;
  margin-bottom: 60px;
}

.u-section-4 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 10.6667px));
  min-height: 992px;
  grid-auto-columns: calc(33.3333% - 10.6667px);
  grid-gap: 16px;
}

.u-section-4 .u-list-item-1 {
  transition-duration: 0.5s;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
}

.u-section-4 .u-container-layout-1 {
  padding: 0 30px 25px;
}

.u-section-4 .u-image-1 {
  height: 312px;
  margin-top: 12px;
  margin-bottom: 0;
  width: 312px;
  background-image: url("images/sarepaie.jpg");
  background-position: 50% 50%;
}

.u-section-4 .u-group-1 {
  width: 245px;
  min-height: 64px;
  height: auto;
  margin: 12px auto 0;
}

.u-section-4 .u-container-layout-2 {
  padding: 10px;
}

.u-section-4 .u-text-1 {
  text-transform: uppercase;
  font-weight: 700;
  font-family: Vazirmatn;
  margin: 0 auto;
}

.u-section-4 .u-text-2 {
  font-weight: 400;
  font-size: 2.25rem;
  margin: 17px auto 0;
  font-family: vazir;
}

.u-section-4 .u-list-item-2 {
  transition-duration: 0.5s;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
}

.u-section-4 .u-container-layout-3 {
  padding: 0 30px 25px;
}

.u-section-4 .u-image-2 {
  height: 312px;
  margin-top: 12px;
  margin-bottom: 0;
  width: 312px;
  background-image: url("images/masdomin.jpg");
  background-position: 50% 50%;
}

.u-section-4 .u-group-2 {
  width: 245px;
  min-height: 64px;
  height: auto;
  margin: 12px auto 0;
}

.u-section-4 .u-container-layout-4 {
  padding: 10px;
}

.u-section-4 .u-text-3 {
  text-transform: uppercase;
  font-weight: 700;
  font-family: Vazirmatn;
  margin: 0 auto;
}

.u-section-4 .u-text-4 {
  font-weight: 400;
  font-size: 2.25rem;
  margin: 17px auto 0;
  font-family: vazir;
}

.u-section-4 .u-list-item-3 {
  transition-duration: 0.5s;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
}

.u-section-4 .u-container-layout-5 {
  padding: 0 30px 25px;
}

.u-section-4 .u-image-3 {
  height: 312px;
  margin-top: 12px;
  margin-bottom: 0;
  width: 312px;
  background-image: url("images/aa9afef3-7eb3-737d-181f-c888a6ae462f.png");
  background-position: 50% 50%;
}

.u-section-4 .u-group-3 {
  width: 245px;
  min-height: 64px;
  height: auto;
  margin: 12px auto 0;
}

.u-section-4 .u-container-layout-6 {
  padding: 10px;
}

.u-section-4 .u-text-5 {
  text-transform: uppercase;
  font-family: Vazirmatn;
  font-weight: 700;
  margin: 0 auto;
}

.u-section-4 .u-text-6 {
  font-weight: 400;
  font-size: 2.25rem;
  margin: 17px auto 0;
  font-family: vazir;
}

.u-section-4 .u-list-item-4 {
  transition-duration: 0.5s;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
}

.u-section-4 .u-container-layout-7 {
  padding: 0 30px 25px;
}

.u-section-4 .u-image-4 {
  height: 312px;
  margin-top: 12px;
  margin-bottom: 0;
  width: 312px;
  background-image: url("images/09591183-bcf1-fcdf-25ce-7147452b841b.png");
  background-position: 50% 50%;
}

.u-section-4 .u-group-4 {
  width: 245px;
  min-height: 64px;
  height: auto;
  margin: 12px auto 0;
}

.u-section-4 .u-container-layout-8 {
  padding: 10px;
}

.u-section-4 .u-text-7 {
  text-transform: uppercase;
  font-weight: 700;
  font-family: Vazirmatn;
  margin: 0 auto;
}

.u-section-4 .u-text-8 {
  font-weight: 400;
  font-size: 2.25rem;
  margin: 17px auto 0;
  font-family: vazir;
}

.u-section-4 .u-list-item-5 {
  transition-duration: 0.5s;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
}

.u-section-4 .u-container-layout-9 {
  padding: 0 30px 25px;
}

.u-section-4 .u-image-5 {
  height: 312px;
  margin-top: 12px;
  margin-bottom: 0;
  width: 312px;
  background-image: url("images/422e3cf7-5bf4-a10d-0106-db266005528a.png");
  background-position: 50% 50%;
}

.u-section-4 .u-group-5 {
  width: 245px;
  min-height: 64px;
  height: auto;
  margin: 12px auto 0;
}

.u-section-4 .u-container-layout-10 {
  padding: 10px;
}

.u-section-4 .u-text-9 {
  text-transform: uppercase;
  font-weight: 700;
  font-family: Vazirmatn;
  margin: 0 auto;
}

.u-section-4 .u-text-10 {
  font-weight: 400;
  font-size: 2.25rem;
  margin: 17px auto 0;
  font-family: vazir;
}

.u-section-4 .u-list-item-6 {
  transition-duration: 0.5s;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
}

.u-section-4 .u-container-layout-11 {
  padding: 0 30px 25px;
}

.u-section-4 .u-image-6 {
  height: 312px;
  margin-top: 12px;
  margin-bottom: 0;
  width: 312px;
  background-image: url("images/2def81fe-6702-e20c-9e7f-74842bb3b18c.png");
  background-position: 50% 50%;
}

.u-section-4 .u-group-6 {
  width: 245px;
  min-height: 64px;
  height: auto;
  margin: 12px auto 0;
}

.u-section-4 .u-container-layout-12 {
  padding: 10px;
}

.u-section-4 .u-text-11 {
  text-transform: uppercase;
  font-weight: 700;
  font-family: Vazirmatn;
  margin: 0 auto;
}

.u-section-4 .u-text-12 {
  font-weight: 400;
  font-size: 2.25rem;
  margin: 17px auto 0;
  font-family: vazir;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 911px;
  }

  .u-section-4 .u-list-1 {
    height: auto;
  }

  .u-section-4 .u-repeater-1 {
    grid-auto-columns: calc(33.333333333333336% - 10.6667px);
    grid-template-columns: 33.3333% 33.3333% 33.3333%;
    min-height: 816px;
  }

  .u-section-4 .u-image-1 {
    height: 247px;
    width: auto;
  }

  .u-section-4 .u-group-1 {
    margin-top: 64px;
    height: auto;
  }

  .u-section-4 .u-image-2 {
    height: 247px;
    width: auto;
  }

  .u-section-4 .u-group-2 {
    margin-top: 64px;
    height: auto;
  }

  .u-section-4 .u-image-3 {
    height: 247px;
    width: auto;
  }

  .u-section-4 .u-group-3 {
    margin-top: 64px;
    height: auto;
  }

  .u-section-4 .u-image-4 {
    height: 247px;
    width: auto;
  }

  .u-section-4 .u-group-4 {
    margin-top: 64px;
    height: auto;
  }

  .u-section-4 .u-image-5 {
    height: 247px;
    width: auto;
  }

  .u-section-4 .u-group-5 {
    margin-top: 64px;
    height: auto;
  }

  .u-section-4 .u-image-6 {
    height: 247px;
    width: auto;
  }

  .u-section-4 .u-group-6 {
    margin-top: 64px;
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1497px;
  }

  .u-section-4 .u-repeater-1 {
    grid-auto-columns: 100%;
    grid-template-columns: 100%;
    min-height: 1428px;
  }

  .u-section-4 .u-image-1 {
    height: 293px;
    width: auto;
  }

  .u-section-4 .u-image-2 {
    height: 293px;
    width: auto;
  }

  .u-section-4 .u-image-3 {
    height: 293px;
    width: auto;
  }

  .u-section-4 .u-image-4 {
    height: 293px;
    width: auto;
  }

  .u-section-4 .u-image-5 {
    height: 293px;
    width: auto;
  }

  .u-section-4 .u-image-6 {
    height: 293px;
    width: auto;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-1 {
    height: 508px;
    width: auto;
  }

  .u-section-4 .u-text-2 {
    font-size: 1.875rem;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-2 {
    height: 508px;
    width: auto;
  }

  .u-section-4 .u-text-4 {
    font-size: 1.875rem;
  }

  .u-section-4 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-3 {
    height: 508px;
    width: auto;
  }

  .u-section-4 .u-text-6 {
    font-size: 1.875rem;
  }

  .u-section-4 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-4 {
    height: 508px;
    width: auto;
  }

  .u-section-4 .u-text-8 {
    font-size: 1.875rem;
  }

  .u-section-4 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-5 {
    height: 508px;
    width: auto;
  }

  .u-section-4 .u-text-10 {
    font-size: 1.875rem;
  }

  .u-section-4 .u-container-layout-11 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-6 {
    height: 508px;
    width: auto;
  }

  .u-section-4 .u-text-12 {
    font-size: 1.875rem;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 3224px;
  }

  .u-section-4 .u-list-1 {
    margin-bottom: 0;
  }

  .u-section-4 .u-repeater-1 {
    grid-auto-columns: 100%;
    grid-template-columns: repeat(1, 100%);
    min-height: 3225px;
  }

  .u-section-4 .u-image-1 {
    height: 313px;
    width: auto;
  }

  .u-section-4 .u-group-1 {
    margin-top: 24px;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    font-weight: 700;
    margin-top: 12px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-image-2 {
    height: 313px;
    width: auto;
  }

  .u-section-4 .u-group-2 {
    margin-top: 24px;
  }

  .u-section-4 .u-text-4 {
    width: auto;
    font-weight: 700;
    margin-top: 12px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-image-3 {
    height: 313px;
    width: auto;
  }

  .u-section-4 .u-group-3 {
    margin-top: 24px;
  }

  .u-section-4 .u-text-6 {
    width: auto;
    font-weight: 700;
    margin-top: 12px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-image-4 {
    height: 313px;
    width: auto;
  }

  .u-section-4 .u-group-4 {
    margin-top: 24px;
  }

  .u-section-4 .u-text-8 {
    width: auto;
    font-weight: 700;
    margin-top: 12px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-image-5 {
    height: 313px;
    width: auto;
  }

  .u-section-4 .u-group-5 {
    margin-top: 24px;
  }

  .u-section-4 .u-text-10 {
    width: auto;
    font-weight: 700;
    margin-top: 12px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-image-6 {
    height: 313px;
    width: auto;
  }

  .u-section-4 .u-group-6 {
    margin-top: 24px;
  }

  .u-section-4 .u-text-12 {
    width: auto;
    font-weight: 700;
    margin-top: 12px;
    margin-left: 0;
    margin-right: 0;
  }
}

.u-section-4 .u-list-item-3,
.u-section-4 .u-list-item-3:before,
.u-section-4 .u-list-item-3 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-4 .u-list-item-3.u-list-item-3.u-list-item-3:hover {
  box-shadow: 0px 0px 8px 0px rgba(128,128,128,1) !important;
}

.u-section-4 .u-list-item-3.u-list-item-3.u-list-item-3.hover {
  box-shadow: 0px 0px 8px 0px rgba(128,128,128,1) !important;
}

.u-section-4 .u-container-layout:hover .u-list-item-3 {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
  transform: scale(1) translateY(px) !important;
}

.u-section-4 .u-list-item-3 {
  border-color: transparent !important;
}

.u-container-layout.hover > .u-section-4 .u-list-item-3 {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
  transform: scale(1) translateY(px) !important;
}

.u-section-4 .u-list-item-3 {
  border-color: transparent !important;
}

.u-section-4 .u-list-item-1,
.u-section-4 .u-list-item-1:before,
.u-section-4 .u-list-item-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-4 .u-list-item-1.u-list-item-1.u-list-item-1:hover {
  box-shadow: 0px 0px 8px 0px rgba(128,128,128,1) !important;
}

.u-section-4 .u-list-item-1.u-list-item-1.u-list-item-1.hover {
  box-shadow: 0px 0px 8px 0px rgba(128,128,128,1) !important;
}

.u-section-4 .u-container-layout:hover .u-list-item-1 {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
  transform: scale(1) translateY(px) !important;
}

.u-section-4 .u-list-item-1 {
  border-color: transparent !important;
}

.u-container-layout.hover > .u-section-4 .u-list-item-1 {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
  transform: scale(1) translateY(px) !important;
}

.u-section-4 .u-list-item-1 {
  border-color: transparent !important;
}

.u-section-4 .u-list-item-2,
.u-section-4 .u-list-item-2:before,
.u-section-4 .u-list-item-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-4 .u-list-item-2.u-list-item-2.u-list-item-2:hover {
  box-shadow: 0px 0px 8px 0px rgba(128,128,128,1) !important;
}

.u-section-4 .u-list-item-2.u-list-item-2.u-list-item-2.hover {
  box-shadow: 0px 0px 8px 0px rgba(128,128,128,1) !important;
}

.u-section-4 .u-container-layout:hover .u-list-item-2 {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
  transform: scale(1) translateY(px) !important;
}

.u-section-4 .u-list-item-2 {
  border-color: transparent !important;
}

.u-container-layout.hover > .u-section-4 .u-list-item-2 {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
  transform: scale(1) translateY(px) !important;
}

.u-section-4 .u-list-item-2 {
  border-color: transparent !important;
}

.u-section-4 .u-list-item-4,
.u-section-4 .u-list-item-4:before,
.u-section-4 .u-list-item-4 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-4 .u-list-item-4.u-list-item-4.u-list-item-4:hover {
  box-shadow: 0px 0px 8px 0px rgba(128,128,128,1) !important;
}

.u-section-4 .u-list-item-4.u-list-item-4.u-list-item-4.hover {
  box-shadow: 0px 0px 8px 0px rgba(128,128,128,1) !important;
}

.u-section-4 .u-container-layout:hover .u-list-item-4 {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
  transform: scale(1) translateY(px) !important;
}

.u-section-4 .u-list-item-4 {
  border-color: transparent !important;
}

.u-container-layout.hover > .u-section-4 .u-list-item-4 {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
  transform: scale(1) translateY(px) !important;
}

.u-section-4 .u-list-item-4 {
  border-color: transparent !important;
}

.u-section-4 .u-list-item-5,
.u-section-4 .u-list-item-5:before,
.u-section-4 .u-list-item-5 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-4 .u-list-item-5.u-list-item-5.u-list-item-5:hover {
  box-shadow: 0px 0px 8px 0px rgba(128,128,128,1) !important;
}

.u-section-4 .u-list-item-5.u-list-item-5.u-list-item-5.hover {
  box-shadow: 0px 0px 8px 0px rgba(128,128,128,1) !important;
}

.u-section-4 .u-container-layout:hover .u-list-item-5 {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
  transform: scale(1) translateY(px) !important;
}

.u-section-4 .u-list-item-5 {
  border-color: transparent !important;
}

.u-container-layout.hover > .u-section-4 .u-list-item-5 {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
  transform: scale(1) translateY(px) !important;
}

.u-section-4 .u-list-item-5 {
  border-color: transparent !important;
}

.u-section-4 .u-list-item-6,
.u-section-4 .u-list-item-6:before,
.u-section-4 .u-list-item-6 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-4 .u-list-item-6.u-list-item-6.u-list-item-6:hover {
  box-shadow: 0px 0px 8px 0px rgba(128,128,128,1) !important;
}

.u-section-4 .u-list-item-6.u-list-item-6.u-list-item-6.hover {
  box-shadow: 0px 0px 8px 0px rgba(128,128,128,1) !important;
}

.u-section-4 .u-container-layout:hover .u-list-item-6 {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
  transform: scale(1) translateY(px) !important;
}

.u-section-4 .u-list-item-6 {
  border-color: transparent !important;
}

.u-container-layout.hover > .u-section-4 .u-list-item-6 {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
  transform: scale(1) translateY(px) !important;
}

.u-section-4 .u-list-item-6 {
  border-color: transparent !important;
}.card {
/* From https://css.glass */
background: rgba(207, 207, 210, 0.25);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(6.7px);
-webkit-backdrop-filter: blur(6.7px);
border: 1px solid rgba(207, 207, 210, 0.59);
}
.card2 {
background: rgba(207, 207, 210, 0.25);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(6.7px);
-webkit-backdrop-filter: blur(6.7px);
border: 1px solid rgba(207, 207, 210, 0.59);
}
